<div id="logo-div">

  <ion-text color="medium">
    <div class="container">
      <p>{{title ? title : ''}}</p>
      <img src="../../../assets/icon/iflogo.png" alt="">
    </div>
    <h1>iFinanças</h1>
  </ion-text>
</div>
