#logo-div {
  height: 40%;
  display: flex;
  align-items: center; //vertical
  justify-content: center;//horizontal

  h3 {
    text-align: center;
  }

}



.container img {
  max-width:200px;
  max-height:150px;
  width: auto;
  height: auto;
}